/* ==========================================================================
   ABOUT-US
   ========================================================================== */
.about-us {
    margin-bottom: 20px;
    @media @tablet-sm {
        margin-top: 70px;
    }

    .heading {
        margin-top: 22px;
        margin-bottom: 30px;
        text-align: center;
        @media @tablet-sm {
            margin-bottom: 76px;
        }
    }

    .space {
        max-width: 450px;
        margin: 0 auto;
        @media @tablet-sm {
            max-width: none;
            display: flex;
        }
    }

    .photos {
        margin: 0 0 22px;
        padding: 0;
        list-style: none;
        display: flex;
        overflow: hidden;
        @media @tablet-sm {
            max-width: 60%;
            min-width: 60%;
            margin-bottom: 0;
            flex-basis: 60%;
        }
        @media @desktop-sm {
            max-width: 74.4%;
            min-width: 74.4%;
            flex-basis: 74.4%;
        }

        &.slick-initialized {
            display: block;
            overflow: visible;
            .entry {
                max-width: none;
                min-width: 0;
            }
            .slick-dots {
                padding: 0;
                text-align: center;
                @media @tablet-sm {
                    margin: 30px -9px 0;
                    text-align: left;
                }

                li {
                    padding: 0 8px;
                    display: inline-block;
                    @media @tablet-sm {
                        padding-left: 9px;
                        padding-right: 9px;
                    }

                    .dot {
                        width: 15px;
                        height: 15px;
                        display: block;
                        border-radius: 50%;
                        background: @color-navy;
                        cursor: pointer;
                    }

                    &.slick-active {
                        .dot {
                            cursor: pointer;
                            background: transparent;
                            border: 2px solid @color-navy;
                        }
                    }
                }
            }
        }
        .entry {
            min-width: 100%;
            max-width: 100%;
            flex-basis: 100%;
            img {
                width: 100%;
                height: auto;
            }
        }
    }
    .text {
        margin-top: 62px;
        padding: 36px 22px 28px;
        background: @color-white;
        box-shadow: 0 1px 3px 0 rgba(10, 10, 10, .1);
        border: 1px solid rgba(10, 10, 10, .1);
        text-align: center;
        position: relative;
        @media @tablet-sm {
            margin-top: 65px;
            margin-left: -120px;
            padding: 85px 34px 40px;
            font-size: 16px;
            line-height: 24px;
        }
        @media @desktop-sm {
            margin-left: -70px;
        }
        .icon {
            width: 72px;
            height: 72px;
            margin: 0 auto;
            background: @color-white;
            border: 3px solid @color-navy;
            position: absolute;
            top: -36px;
            left: 0;
            right: 0;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            z-index: 2;
            &:before {
                .pseudo;
                width: 84px;
                height: 84px;
                background: url('@{images}/icons/circle.png') center center no-repeat;
                background-size: cover;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate3d(-50%,-50%,0);
                z-index: 1;
            }
            &:after {
                .pseudo;
                border: 1px solid @color-blue;
                border-radius: 50%;
                position: absolute;
                top: 2px;
                bottom: 2px;
                left: 2px;
                right: 2px;
                z-index: 2;
            }
            img {
                width: 50px;
                height: 50px;
                position: relative;
                z-index: 3;
            }
            @media @tablet-sm {
                width: 110px;
                height: 110px;
                top: -56px;
                border-width: 5px;
                &:before {
                    width: 126px;
                    height: 126px;
                }
                &:after {
                    top: 3px;
                    bottom: 3px;
                    left: 3px;
                    right: 3px;
                }
                img {
                    width: 74px;
                    height: 74px;
                }
            }
        }
        .title {
            .h4;
            .h-up;
            margin: 23px 0 15px;
            @media @tablet-sm {
                margin: 0 0 22px;
            }
        }
        p {
            &:last-of-type {
                margin-bottom: 0;
            }
            @media @tablet-sm {
                margin-bottom: 22px;
            }
        }
    }
}
