/* ==========================================================================
   CALL-TO-ACTION
   ========================================================================== */
.call-to-action {
    margin: 0 -15px;
    margin-right: -15px;
    margin-left: -15px;
    padding: 0 15px;
    background: @color-orange no-repeat -500px -500px;
    background-size: 1px 1px;
    text-align: center;
    color: @color-white;
    position: relative;
    @media @tablet-sm {
        margin-left: -50vw;
        margin-right: -50vw;
        padding-left: 50vw;
        padding-right: 50vw;
    }

    &:before {
        .pseudo;
        height: inherit;
        opacity: .25;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        z-index: 1;
        background: url('@{images}/cta.jpg') center center no-repeat;
        background-size: cover;
        @media @desktop-sm {
            background-size: 100vw auto;
        }
    }

    .space {
        padding: 44px 15px 54px;
        position: relative;
        z-index: 2;
        @media @tablet-sm {
            padding: 74px 74px 90px;
        }
    }

    .text {
        margin: 0 0 24px 0;
        font-size: 28px;
        line-height: 30px;
        font-weight: 300;
        @media @tablet-sm {
            margin-bottom: 36px;
            font-size: 48px;
            line-height: 52px;
        }
    }
}
