/* ==========================================================================
   CONTACT-US
   ========================================================================== */
.contact-us {
    .info {
      margin-bottom: 34px;
        padding: 15px 35px 35px;
        background: @color-space-cadet;
        color: @color-white;
        .list {
            margin: 0 0 18px;
            padding: 0;
            list-style: none;
            text-align: center;
            font-size: 14px;
            line-height: 16px;
            font-weight: bold;
            li {
                padding: 18px;
                border-bottom: 1px solid @color-cadet-gray;
                &:before {
                    .pseudo;
                    width: 20px;
                    height: 20px;
                    margin: 0 auto 2px;
                    background-position: center center;
                    background-size: cover;
                    background-repeat: no-repeat;
                }
                &.adr {
                    &:before {
                        margin-bottom: 8px;
                        background-image: url('@{images}/icons/pin-white.png');
                    }
                }
                &.tel {
                    &:before {
                        margin-bottom: 8px;
                        background-image: url('@{images}/icons/tel-white.png');
                    }
                }
                &.mail {
                    &:before {
                        background-image: url('@{images}/icons/mail-white.png');
                    }
                }
                a {
                    color: @color-white;
                }
            }
            a {
              &[href^="tel:"] {
                cursor: default;
                text-decoration: none;
              }
            }
        }
        .social {
          margin: 0;
          padding: 0;
          list-style: none;
          text-align: center;
          li {
            padding: 0 4px;
            display: inline-block;
            a {
              width: 36px;
              height: 36px;
              display: flex;
              background: @color-white;
              border-radius: 50%;
              justify-content: center;
              align-items: center;
              img {
                width: 20px;
                height: 20px;
                display: block;
              }
            }
          }
        }
    }
}
