/* ==========================================================================
   HEADER
   ========================================================================== */
.header {
    width: 100%;
    min-width: @w-mobile-xxs;
    max-width: @max-width;
    height: 60px;
    padding: 0 15px;
    margin-left: auto;
    margin-right: auto;
    color: @color-white;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 199;
    background: @color-navy;

    .logo {
        width: 108px;
        height: 46px;
        margin: auto;
        position: absolute;
        top: 0;
        left: 14px;
        bottom: 0;
        a, img {
            width: 100%;
            height: auto;
            display: block;
        }
        @media @tablet-sm {
            width: 230px;
            height: 98px;
        }
    }

    .toggle {
        width: 40px;
        height: 40px;
        margin: auto;
        overflow: hidden;
        text-indent: -1000px;
        position: absolute;
        top: 0;
        bottom: 0;
        right: 115px;

        &:before, &:after {
            .pseudo;
            width: 24px;
            margin: auto;
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
        }
        &:before {
            height: 12px;
            border-top: 4px solid @color-gray;
            border-bottom: 4px solid @color-gray;
            transition: border-color @duration;
            .nav-visible & {
                border-color: @color-white;
            }
        }
        &:after {
            height: 4px;
            background: @color-gray;
            transition: background-color @duration;
            .nav-visible & {
                background-color: @color-white;
            }
        }
    }

    .tel {
        width: 40px;
        height: 40px;
        margin: auto;
        overflow: hidden;
        text-indent: -1000px;
        position: absolute;
        top: 0;
        right: 75px;
        bottom: 0;
        background: url('@{images}/icons/phone.png') center center no-repeat;
        background-size: 22px 22px;
        a {
            width: 40px;
            height: 40px;
            display: block;
        }
    }

    .enquire {
        width: 54px;
        height: 54px;
        padding: 16px 10px 10px;
        border-radius: 50%;
        display: block;
        position: absolute;
        top: 11px;
        right: 15px;
        font: 14px/14px @font-bebas;
        color: @color-white;
        text-transform: uppercase;
        text-align: center;
        background: @color-orange;
        box-shadow: 0 -5px 5px 0 rgba( 10, 10, 10, .25);
        transition: background-color @duration;
        &:hover {
            text-decoration: none;
            background: @color-navy;
        }
    }
}
