/* ==========================================================================
   INDEX
   ========================================================================== */
.index {
    margin: 0 -15px;
    .image {
        width: 100%;
        height: auto;
        margin: 0 auto;
        display: block;
    }
    @media @tablet-sm {
        margin-left: -50vw;
        margin-right: -50vw;
        .image {
            width: 100vw;
        }
    }
}
