/* ==========================================================================
   PAGE-EXCERPT
   ========================================================================== */
.page-excerpt {
  margin: @margin-md 0 @margin-md;
  padding: 0 20px;
  font: 18px/24px @font-bebas;
  text-transform: uppercase;
  text-align: center;
  @media @tablet-sm {
    padding-left: 290px;
    padding-right: 290px;
    font-size: 32px;
    line-height: 42px;
    position: relative;
    &:before, &:after {
      .pseudo;
      width: 290px;
      height: 5px;
      margin: auto 0;
      background: @color-cadet-gray;
      position: absolute;
      top: 0;
      bottom: 0;
    }
    &:before {
      left: 0;
    }
    &:after {
      right: 0;
    }
  }
}
