/* ==========================================================================
   PAGE-HEADER
   ========================================================================== */
.page-header {
    height: 184px;
    margin: 0 -15px;
    padding: 0 15px;
    color: @color-white;
    position: relative;
    display: flex;
    align-items: flex-end;
    background: @color-gray;
    cursor: default;
    @media @tablet-sm {
        height: 300px;
        margin-left: -50vw;
        margin-right: -50vw;
        padding-left: 50vw;
        padding-right: 50vw;
    }

    &:before {
        .pseudo;
        height: inherit;
        background-image: inherit;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: auto 100%;
        opacity: .15;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        z-index: 1;
        .page-about& {
            background-image: url('@{images}/page-header/about-us.jpg');
        }
        .page-work& {
            background-image: url('@{images}/page-header/our-work.jpg');
        }
        .page-contacts& {
            background-image: url('@{images}/page-header/contact.jpg');
        }
        .page-services& {
            background-image: url('@{images}/page-header/services.jpg');
        }
        @media @desktop-md {
            background-size: 100vw auto;
        }
    }

    > * {
        position: relative;
        z-index: 2;
    }

    .heading {
        margin: 0;
        color: @color-white;
        position: relative;
        bottom: 5px;
        z-index: 2;
        @media @tablet-sm {
            bottom: 34px;
        }
    }
}
