/* ==========================================================================
   TEXT-BLOCK
   ========================================================================== */
.text-block {
  margin: 56px -15px 42px;
  font: bold 18px/21px @font-bebas;
  background: @color-space-cadet;
  color: @color-white;
  text-align: center;
  .image {
    margin: 0;
  }
  .text {
    padding: 15px 30px;
    min-height: 230px;
    display: flex;
    align-items: center;
    letter-spacing: .1em;
  }
  @media @tablet-sm {
    font-size: 28px;
    line-height: 32px;
  }
}
