/* ==========================================================================
   WORKS
   ========================================================================== */
.works {
    .item {
        text-align: center;
    }
    .photos {
        padding: 0;
        list-style: none;
        display: flex;
        overflow: hidden;
        li {
            min-width: 100%;
            max-width: 100%;
            flex-basis: 100%;
            img {
                width: 100%;
                height: auto;
            }
        }
    }
}
